.ulproducts {
  margin: 45px auto 0;
  padding: 0;
  width: 363px;
}
.ulproducts li {
  display: inline-block;
  max-width: 170px;
  margin-right: 10px;
  margin-bottom: 15px;
  vertical-align: top;
}
.ulproducts img {
  display: block;
  height: auto;
  max-width: 100%;
  margin-bottom: 7px;
  border-radius: 4%;
}
.ulproducts li figcaption p {
  color: #000;
  margin-bottom: 3px;
}
