/* // @import '../Global.scss';
// @import '../Vars.scss'; */

.top-container-full-width {
  /* Location of the image */
  background-image: url("https://mitienda.moda/img/login-desktop.d2a6f582.jpg");

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when 
      the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
      on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
      while the background image is loading */
  background-color: #464646;
}
.top-container-full-width .top-container {
  /* max-width: 1000px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0px 40px;
}
.top-container-full-width .top-container h3 {
  color: white;
  font-family: Montserrat, sans-serif;

  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.login-container {
  width: 400px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.login-container img {
  width: 200px;
  margin-bottom: 20px;
}

.login-container .login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container.login-form input {
  width: 100%;
  margin: 4px 0px;
  padding: 0.5rem 1rem;
}

.login-container .login-form input[type="submit"] {
  margin: 10px 0px;
  background-color: black;
  color: #fff;
  border: darken(black, 5%);
}

.info-container {
  width: 50%;
}

.info-container h1,
p {
  color: white;
}

.info-container h1 {
  font-size: 32px;
  font-weight: bold;
}
.info-container p {
  font-size: 20px;
  margin: 20px 0px;
}
.info-container a {
  font-size: 20px;
  color: white;
  text-decoration: underline;
}

@media (max-width: 800px) {
  .info-container {
    display: none;
  }
}
